/* UNIVERSAL MINI CODE SIZE ENFORCER */

/* Global reduction */
pre code {
    font-size: 0.75rem !important;
    line-height: 1.15 !important;
}

/* Round subgraph corners */
.cluster rect {
    rx: 14;
    ry: 14;
}

svg foreignObject div {
    display: table !important;
    width: 100%;
    height: 100%;
}

span.nodeLabel {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.reveal table {
    font-size: smaller;
}


marquee {
    height: 100%;
    width: 100%;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.small-table table {
    font-size: .4em;
    margin: .5rem;
}

#TOC>nav {
    display: relative;
}

#TOC>nav>ul,
.scrollable {
    overflow-y: scroll;
    height: 90%;
    width: 100%;
}

.center img {
    display: inline-block;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('https://github.com/web-fonts/dejavu-sans/raw/refs/heads/master/fonts/dejavu-sans-webfont.woff2') format('woff2'),
        url('https://github.com/web-fonts/dejavu-sans/raw/refs/heads/master/fonts/dejavu-sans-webfont.woff') format('woff'),
        url('https://github.com/web-fonts/dejavu-sans/raw/refs/heads/master/fonts/dejavu-sans-webfont.ttf') format('trutype');
}
